<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="Starter App">
    <Require feature="rpc"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
<!DOCTYPE html>
<!-- The hangout API JavaScript. Always include this first -->
<script src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.2"></script>

<!-- The JavaScript for this app. This must always be a full URL not a
     relative path.
     Tip: You can load it from a local web server such as
     http://localhost/app.js for faster single user development -->
<script src="//YOUR_APP_ID.appspot.com/static/app.js"></script>

<h1><img src="//YOUR_APP_ID.appspot.com/static/hangouts-logo.png" 
    alt="Google+ Hangouts Logo" height="50" width="50">Starter App</h1>
<div style="float: left; padding: 0px 20px; border-right: 1px solid #EEE">
  <p>Collaborate with your friends to count to a big number!</p>
  <dl>
    <dt>Current count:</dt>
    <dd id="count"></dd>
    <dt>Player count:</dt>
    <dd id="participants"></dd>
  </dl>

  <input type=button value="Click Me!" id="countButton"
      onClick="countButtonClick()"/>
  <input type=button value="Reset" id="resetButton"
      onClick="resetButtonClick()"/>
</div>
<div style="float: left; padding: 0px 20px">
  <p>Fetch some JSON from main.py</p>
  <dl>
    <dt>Message:</dt>
    <dd id="message"></dd>
  </dl>
  <input type=button value="Get Message" id="getMessageButton"
      onClick="getMessageClick()"/>
</div>
<div style="clear: both;"></div>

]]></Content>
</Module>
